<div class="container, spacer, col-md-12 ">
  <!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">BIBLIOTHEQUES</a>
      <button routerLink="/listesbiblio" class="nav-link">Bibliothèque</button>
      <button routerLink="/ajoutbiblio" class="btn-outline-info">Ajout Bibliotheque</button>
      <button routerLink="/listeslivre" class="btn-outline-info">Livre</button>
    </nav>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active">
          <button routerLink="/listesbiblio" class="btn-outline-info">Bibliothèques</button>
          <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link">
          <button routerLink="/ajoutbiblio" class="btn-outline-info">Ajout Bibliotheque</button>
        </a>
        <a class="nav-item nav-link">
          <button routerLink="/listeslivre" class="btn-outline-info">Livres</button>
        </a>
      </div>
    </div>
  </nav>
  <marquee class=" text-info h1"> Bonjour bienvenue dans notre application de gestion de bibiotheque</marquee>

  <div class="container, spacer, col-md-10">
    <router-outlet>

    </router-outlet>

  </div>

</div>

<!--Footer-->
<div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="" style="margin-bottom:0px;color: black">&copy; Daboline 2018 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>
