<div class=" container spacer">
  <div class="text-info">
    <p> Modification de bibliotheque</p>
  </div>
  <div *ngIf="mode==1">
    <div class="form-group col-md-4">
      <p class="text-info"> Infos bibliotheque</p>
      <label class="custom-control-label">Nom Bibliotheque </label>
      <!--ici ce qu'on saisi sera stockée dans nom de l'objet bibliotheque qui est dans bibliotheque.component.ts-->
      <input class="form-control" type="text" [(ngModel)]="biblioEdit.nom">

      <label class="custom-control-label">Ecole</label>
      <!--ici ce qu'on saisi sera stockée dans nom de l'objet bibliotheque qui est dans bibliotheque.component.ts-->
      <input class="form-control" type="text" [(ngModel)]="biblioEdit.ecole">

      <button class="btn-primary spacer" (click)="UpdateBiblio()">Modifier</button>
    </div>
  </div>


  <!--si le mode est different de 1-->
  <div *ngIf="mode==2">
    <div class="form-group col-md-4">
      <p class="text-info"> Confirmation </p>
      <label class="custom-control-label">{{biblioEdit.id}}</label>

      <label class="custom-control-label">ID Bibliotheque :{{biblioEdit.nom}}</label>

      <label class="custom-control-label">Ecole: {{biblioEdit.ecole}}</label>

      <button class="btn-primary spacer" (click)="mode=1">Modifier</button>
    </div>
  </div>
</div>
